<div class="bidItem">
  <p>${{bid.bid}}/hr</p>
  <p>{{bid.name}}</p>
  <p class="bidEmail">{{bid.email}}</p>
  <p><button class="deleteBidButton" {{action 'delete' bid}}>Delete <span class="this">This Bid</span></button></p>
</div>
