// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

hr {
  border: 1px solid $primaryBlue;
  width: 100%;
}


/**
 * Basic styles for links
 */
a {
  color: $secondaryBlue;
  text-decoration: none;
}

a.createLink {
  color: lighten($secondaryBlue, 10%);
  text-decoration: none;
  transition: all 1s ease-in-out;
  &:hover {
    border-bottom: 1px solid lighten($secondaryBlue, 10%);
    transition: all 1s ease-in-out;
  }
}

.centeredText {
  @extend %centered;
}
