// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  align-self: center;
  text-transform: uppercase;
  @include fontFormat(14px, $white, lighter, 1px);
  background: rgba($primaryBlue, .9);
  border: 3px solid transparent;
  padding: 10px 20px;
  transition: all 300ms ease-in-out;
  &:hover {
    cursor: pointer;
    color: $primaryBlue;
    border: 3px solid $primaryBlue;
    background: $white;
    transition: all 300ms ease-in-out;
  }
}

.secondaryButton {
  text-transform: none;
  @include fontFormat(13px, $primaryBlue, normal, 1px);
  background: $white;
  border: 3px solid transparent;
  padding: 10px 20px;
  transition: all 300ms ease-in-out;
  border: 1px solid $primaryBlue;
  &:hover {
    cursor: pointer;
    border: 1px solid $primaryBlue;
    color: $white;
    background: rgba($primaryBlue, .9);
    transition: all 300ms ease-in-out;
    font-weight: normal;
  }
}

#bidMove {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
