// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  align-self: center;
  text-transform: uppercase;
  @include fontFormat(14px, $white, lighter, 1px);
  background: rgba($primaryBlue, .9);
  border: 3px solid transparent;
  padding: 10px 20px;
  transition: all 300ms ease-in-out;
  &:hover {
    cursor: pointer;
    color: $primaryBlue;
    border: 3px solid $primaryBlue;
    background: $white;
    transition: all 300ms ease-in-out;
    font-weight: bold;
  }
}
