.bidFormSection {
  margin: 2% 0;
  @include flexbox($direction: column);
  width: 100%;
  form {
    @include flexbox($justify: center, $direction: column, $align-items: center);
    width: 50%;
    margin: 0 auto;
    input {
      width: 100%;
      height: 50px;
      font-size: 16px;
      @extend %bodyFont;
      letter-spacing: 1px;
      padding-left: 2%;
    }
    button {
      margin: 2% auto 2% auto;
      display: block;
      padding: 5px 20px;
    }
  }
  .secondaryButton {
    padding: 5px 20px;
  }
}

.signInContainer {
  @include background-image(linear-gradient(rgba($primaryBlue, 0.6),
  rgba($primaryBlue, 0.6)),url("#{$img-path}/house-car.jpg"));
  height: 80vh;
  min-height: 780px;
  background-size: cover;
  @include flexbox($justify: center, $align-items: center);
  .forms {
    width: 500px;
    background-color: rgba($white, 0.7);
    padding: 70px 40px;
    @include flexbox($justify: space-between, $direction: column);
    height: 600px;
    border-radius: 5px;
    @media screen and #{$mobile}{
      width: 95%;
    }
  }
  input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    @extend %bodyFont;
    letter-spacing: 1px;
    padding-left: 5%;
  }
  button {
    margin: 2% auto 2% auto;
    display: block;
  }
  .signUp {
    text-align: center;
    color: $primaryBlue;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.postMoveContainer{
  background-color: rgba($primaryBlue, 0.1);
  padding: 2%;
  color: $primaryBlue;
  h1, h3 {
    text-align: center;
    max-width: 700px;
    margin: 20px auto;
  }
}

.postMoveForm {
  max-width: 900px;
  margin: 0 auto;
  .form-group {
    @include flexbox($direction: column);
    input {
      height: 40px;
      margin-bottom: 10px;
      font-size: 14px;
      @extend %bodyFont;
      letter-spacing: 1px;
      padding-left: 10px;
    }
    label {
      margin-bottom: 5px;
    }
  }
  .checkboxes {
    padding: 15px 0;
    @include flexbox($justify: space-between);
  }
  .longLat {
    @include flexbox($justify: space-between);
    .form-group {
      flex: 1;
      &:first-child{
        margin-right: 5px;
      }
    }
  }
  button {
    display: block;
    margin: 3% auto;
  }
}

.checkboxContainer {
  background-color: rgba($primaryBlue, 0.7);
  @include fontFormat($color: $white, $l-spacing: 1px);
  padding: 2% 10%;
  p {
    @extend %centered;
  }
  hr {
    border: 1px solid $white;
  }
}

.applyContainer {
  @include background-image(linear-gradient(rgba($primaryBlue, 0.6),
  rgba($primaryBlue, 0.6)),url("#{$img-path}/work-girl.jpg"));
  height: 80vh;
  min-height: 780px;
  background-size: cover;
  @include flexbox($justify: center, $align-items: center, $direction: column);
  .forms {
    width: 500px;
    background-color: rgba($white, 0.7);
    padding: 70px 40px;
    @include flexbox($justify: space-between, $direction: column);
    height: 600px;
    border-radius: 5px;
    @media screen and #{$mobile}{
      width: 95%;
    }
  }
  input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    @extend %bodyFont;
    letter-spacing: 1px;
    padding-left: 5%;
  }
  button {
    margin: 2% auto 2% auto;
    display: block;
  }
}
