.moveListHeader {
  @include flexbox($justify: space-between);
  border-bottom: 2px solid rgba($primaryBlue, 0.5);
  padding: 0px 2%;
  margin-top: 3%;
  p {
    flex: 1;
    text-transform: uppercase;
    @include fontFormat(13px, $weight: bold, $l-spacing: 2px);
    &:last-child{
      @extend %centered;
    }
  }
}

.moveType, .bidCount {
  @media screen and #{$mobile} {
    display: none;
  }
}

.moveList {
  .moveItem {
    border-bottom: 3px solid rgba($primaryBlue, 0.5);
    padding: 0px 2%;
    @include flexbox($justify: space-between, $align-items: center);
    transition: all 300ms ease-in-out;
    &:hover {
      transition: all 300ms ease-in-out;
      background-color: rgba($secondaryBlue, 0.3);
      cursor: pointer;
    }
    p {
      flex: 1;
      line-height: 30px;
      &:last-child {
        text-align: center;
      }
    }
  }
  .userMoveItem {
    border-bottom: 3px solid rgba($primaryBlue, 0.5);
    padding: 0px 2%;
    @include flexbox($justify: space-between, $align-items: center);
    transition: all 300ms ease-in-out;
    &:hover {
      transition: all 300ms ease-in-out;
      background-color: rgba($secondaryBlue, 0.3);
      cursor: pointer;
    }
    > .ember-view {
      flex: 2;
    }
    .profileMoveItem {
      flex: 1;
      @include flexbox($justify: space-between);
      display: flex;
      &:last-child {
        flex: 2;
      }

    }
    .profileMoveButtons {
      @include flexbox($justify: space-between, $align-items: center, $direction: column);
      button {
        margin: 1%;
        width: 200px;
      }
    }
  }
}
