.container {
  @extend %container;
}

.pageWrapper {
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
}

.emailContainer {
  @include background-image(linear-gradient(rgba($primaryBlue, 0.6),
  rgba($primaryBlue, 0.6)),url("#{$img-path}/brick-building.jpg"));
  height: 80vh;
  min-height: 780px;
  background-size: cover;
  @include flexbox($justify: center, $align-items: center, $direction: column);
  h1 {
    @extend %centered;
    @include fontFormat(42px, $white, $l-spacing: 3px, $l-height: 60px);
    width: 90%;
    text-shadow: 2px 2px 2px $primaryBlue;
    @media screen and #{$mobile}{
      margin-top: -200px;
    }
  }
  h2 {
    @extend %centered;
    @include fontFormat(32px, $white, $l-spacing: 3px, $l-height: 60px);
    width: 70%;
    text-shadow: 2px 2px 2px $primaryBlue;
    @media screen and #{$mobile}{
      @include fontFormat(32px, $white, $l-spacing: 3px, $l-height: 40px);
    }
  }
}
