// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.homepageHeader {
  @extend %centered;
  @include flexbox($align-items: flex-end);
  @include background-image(linear-gradient(rgba($primaryBlue, 0),
  rgba($primaryBlue, 0.6)),url("#{$img-path}/vdub-van.jpeg"));
  background-size: cover;
  height: 70vh;
  h1 {
    margin-bottom: 8%;
    @include fontFormat(30px, $white, lighter, 1px);
  }
}

.openMovesHeader {
  @extend %centered;
  @include flexbox($align-items: center);
  @include background-image(linear-gradient(rgba($primaryBlue, 0),
  rgba($primaryBlue, 0.6)),url("#{$img-path}/mover.jpg"));
  background-size: cover;
  // background-position: bottom;
  height: 35vh;
  .headerText {
    h1 {
      @include fontFormat(60px, $white, $l-spacing: 3px);
      text-shadow: 1px 1px 1px $primaryBlue;
    }
    h3 {
      @include fontFormat(24px, $white, lighter, $l-spacing: 3px);
    }
  }
}

  .moveDetailHeader {
    height: 35vh;
    @include background-image(linear-gradient(rgba($primaryBlue, 0.3),
    rgba($primaryBlue, 0.3)),url("#{$img-path}/city.jpeg"));
    background-position: bottom;
    background-size: cover;
    @include flexbox($align-items: center);
    @extend %centered;
    color: $white;
    h2 {
      @include fontFormat(60px, $white, $l-spacing: 3px);
      text-shadow: 1px 1px 1px $primaryBlue;
    }
    h3 {
      @include fontFormat(24px, $white, lighter, $l-spacing: 3px);
    }
  }
