.contentWrapper {
  margin-top: 5%;
  h2 {
    @extend %centered;
  }
}

.how-it-works {
  @include flexbox ($justify: space-between);
  .number {
    @include flexbox ($justify: center, $align-items: center);
    background-color: $primaryBlue;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;
    margin: 0 auto;
  }
  .item {
    @extend %centered;
    background-color: rgba($primaryBlue, 0.2);
    flex: 1;
    margin: 0px 2%;
    padding: 3%;
  }
}

// Homepage Banner

.homepageBanner {
  @include flexbox();
  height: 25vh;
  margin-top: 7%;
  .item {
    flex: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    @include flexbox($justify: center, $align-items: center, $direction: column);
    transition: all 300ms linear;
    p {
      @include fontFormat(25px, $white,$l-spacing: 3px);
      margin-bottom: 0;
      text-shadow: 2px 2px 2px $primaryBlue;
    }
    a {
      @include fontFormat(25px, $white, lighter, 3px);
      text-shadow: 2px 2px 2px $primaryBlue;
    }
    &:hover {
      transition: all 300ms linear;
      background-size: 120%
    }
  }
  .postMove {
    @include background-image(linear-gradient(rgba($primaryBlue, 0.4),
    rgba($primaryBlue, 0.4)),url("#{$img-path}/empty.jpg"));
    background-position: bottom;
  }
  .viewMoves {
    @include background-image(linear-gradient(rgba($primaryBlue, 0.4),
    rgba($primaryBlue, 0.4)),url("#{$img-path}/mover.jpg"));
  }
}
