.contentWrapper {
  .container {
    margin: 0;
    padding: 0;
  }
}

.how-it-works {
  @include flexbox ();
  flex: 1;
  height: 40vh;
  margin: 0;
  @media screen and #{$mobile} {
    @include flexbox ($direction: column);
    height: auto;
  }
  .number {
    @include flexbox ($justify: center, $align-items: center);
    background-color: $primaryBlue;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;
    margin: 0 auto;
  }
  .item {
    flex: 1;
    border: 2px solid $primaryBlue;
    padding: 8% 3%;
    @extend %centered;
    background-color: rgba($secondaryBlue, 0.1);
    h3 {
      @include fontFormat(24px, $l-height: 35px);
      text-shadow: 1px 1px 1px $white;
      @media screen and #{$tablet} {
        @include fontFormat(20px);
      }
    }
    p {
      @include fontFormat(22px, $l-height: 35px);
      @media screen and #{$tablet} {
        @include fontFormat(16px);
      }
    }
  }
}

// Homepage Banner

.homepageBanner {
  @include flexbox();
  height: 320px;
  @media screen and #{$mobile} {
    @include flexbox ($direction: column);
    height: 400px;
  }
  .item {
    flex: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1%;
    @include flexbox($justify: center, $align-items: center, $direction: column);
    transition: all 300ms linear;
    p {
      @include fontFormat(25px, $white,$l-spacing: 3px);
      margin-bottom: 0;
      text-shadow: 2px 2px 2px $primaryBlue;
      @extend %centered;
      @media screen and #{$tablet} {
        @include fontFormat(20px);
      }
    }
    a {
      @include fontFormat(25px, $white, lighter, 3px);
      text-shadow: 2px 2px 2px $primaryBlue;
      @extend %centered;
      @media screen and #{$tablet} {
        @include fontFormat(20px);
      }
    }
    &:hover {
      transition: all 300ms linear;
      background-size: 120%
    }
  }
  .postMove {
    @include background-image(linear-gradient(rgba($primaryBlue, 0.4),
    rgba($primaryBlue, 0.4)),url("#{$img-path}/empty.jpg"));
    background-position: bottom;
    @media screen and #{$tablet} {
      background-size: cover;
    }
  }
  .viewMoves {
    @include background-image(linear-gradient(rgba($primaryBlue, 0.4),
    rgba($primaryBlue, 0.4)),url("#{$img-path}/mover.jpg"));
    @media screen and #{$tablet} {
      background-size: cover;
    }
  }
}

.emailSignUp {
  background-color: rgba($primaryBlue, 0.9);
  @include flexbox($justify: center, $align-items: center, $direction: column);
  height: 300px;
  h2 {
    @include fontFormat(24px, $white, lighter, 3px);
    color: $white;
    margin: 0;
  }
  input {
    margin-top: 25px;
    width: 50%;
    height: 40px;
    font-size: 16px;
    @extend %bodyFont;
    letter-spacing: 1px;
    padding-left: 2%;
  }
}
