.moveDetails {
  margin: 5% auto;
  @include flexbox();
  .textContainer {
    flex:1;
  }
  .imageContainer {
    flex: 1;
    .moveImage {
      max-width: 100%;
    }
  }
}

.bidListHeader {
  @include flexbox($justify: space-between);
  border-bottom: 2px solid rgba($primaryBlue, 0.5);
  margin-top: 3%;
  p {
    flex: 1;
    text-transform: uppercase;
    @include fontFormat(13px, $weight: bold, $l-spacing: 2px);

  }
}

.bidItem {
  @include flexbox($justify: space-between, $align-items: center);
  border-bottom: 2px solid $primaryBlue;
  p {
    flex: 1;
    // border: 1px solid red;
  }
}
