.moveDetails {
  margin: 5% auto;
  @include flexbox();
  .textContainer {
    flex:1;
  }
  .imageContainer {
    flex: 1;
    .moveImage {
      max-width: 100%;
    }
  }
}

// .bidButtonContainer {
//   margin-top: 5%;
//   @include flexbox($justify: center);
// }

.bidItem {
  @include flexbox($justify: space-between);
  border-bottom: 2px solid $primaryBlue;
}
