.navWrapper  {
  .headerText {
    @extend %centered;
    h1 {
      margin-bottom: 5px;
      margin-top: 0;
      padding-top: 15px;
      @include fontFormat(40px, $primaryBlue, $l-spacing: 3px);
      font-family: 'dayposter';
    }
  }
  .nav {
    @include flexbox($justify: space-around, $align-items: center);
    margin: 2%;
    @media screen and #{$mobile} {
      @include flexbox($direction: column);
    }
    a {
      margin: 15px 0 8px 0;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      transition: all 300ms ease-in-out;
      &:hover {
        transition: all 300ms ease-in-out;
        border-bottom: 2px solid $secondaryBlue;
      }
    }
  }
}

.profileNav {
  @include flexbox($justify: space-between);
  position: absolute;
  top: 1%;
  right: 2%;
  width: 250px;
  a {
    margin: 0;
  }
  @media screen and #{$tablet}{
    @include flexbox($direction: column);
    top: 20px;
    right: 10px;
    width: 60px;
    font-size: 14px;
  }
  @media screen and #{$mobile}{
    position: inherit;
    @include flexbox($align-items: center, $direction: column);
  }
  .yourProfile {
    @include flexbox($align-items: center);
    a {
      @media screen and #{$tablet}{
        display: none;
      }
    }
    img {
      width: 35px;
      margin-left: 12px;
      margin-right: 12px;
      border-radius: 100%;
    }
  }
}
