// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors //
$primaryBlue: #143642;
$white: #ffffff;

// File Paths //

$img-path: '/img/';
