// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors //
$primaryBlue: #143642;
$secondaryBlue: #0F8B8D;
$white: #ffffff;
$background: #DAD2D8;

// File Paths -- Assets in public folder //

$img-path: '/img/';
$font-path: '/fonts/';

// Media Queries - Homepage //
$tablet: '(max-width: 768px)';
$mobile: '(max-width: 500px)';
