{{outlet}}

<div class="aboutHeader">
  <h2>About Mover</h2>
  <div class="container">
    <div class="aboutText">
      <p class="lead">
        Nobody likes moving. We feel that. So we created Mover to help make the transition to your new place easier.
      </p>
      <p>
        Why hire a moving company when you could connect with members of your community that are willing to help out? Based in Portland, Oregon, <b>Mover</b> allows you to privately post the details of your move and connect with our approved Movers that are ready to help you get the job done. Movers will bid on your move, and <b>you</b> get to choose the right fit.
      </p>


      {{#if session.isAuthenticated}}
        <p>Whether you're making moves and {{#link-to 'post-a-move' session.uid}}<a class="createLink">need some friendly help</a>{{/link-to}}, or you want to {{#link-to 'mover-sign-up'}}<a class="createLink">become a Mover</a>{{/link-to}} and make some extra cash, Mover can help get you where you're going.</p>
      {{else}}
        <p>Whether you're making moves and need some friendly help, or you want to become a Mover and make some extra cash, {{#link-to 'sign-in'}}<a class="createLink">create your account today</a>{{/link-to}} and get moving with us.</p>
      {{/if}}
    </div>
    <h3>Our Team</h3>
    <div class="teamGallery">
      <a target="_blank" href="https://github.com/TylerTheCreator"><div class="teamThumbnail" style="background: url('/img/tyler.jpg') no-repeat center center;background-size: cover;"></div></a>


      <a target="_blank" href="https://github.com/TimDurward"><div class="teamThumbnail" style="background: url('/img/tim.jpg') no-repeat center center;background-size: cover;"></div></a>

      <a target="_blank" href="https://github.com/brookehurford"><div class="teamThumbnail" style="background: url('/img/brooke.jpg') no-repeat center center; background-size: cover;"></div></a>

      <a target="_blank" href="https://github.com/Andychochocho"><div class="teamThumbnail" style="background: url('/img/andy.jpg') no-repeat center center;background-size: cover;"></div></a>

      <a target="_blank" href="https://github.com/pokojt"><div class="teamThumbnail" style="background: url('/img/taylor.jpeg') no-repeat center center;background-size: cover;"></div></a>



      <a target="_blank" href="https://github.com/NewellMatt"><div class="teamThumbnail" style="background: url('/img/matt.jpg') no-repeat center center;background-size: cover;"></div></a>


    </div>
  </div>
</div>
