{{outlet}}

<div class="aboutHeader">
  <h2>About Mover</h2>
  <div class="container">
    <div class="aboutText">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <h3>Our Team</h3>
    <div class="teamGallery">
      <a target="_blank" href="https://github.com/TylerTheCreator"><div class="teamThumbnail" style="background: url('/img/tyler.jpg') no-repeat center center;background-size: cover;"></div></a>

      
      <a target="_blank" href="https://github.com/TimDurward"><div class="teamThumbnail" style="background: url('/img/tim.jpg') no-repeat center center;background-size: cover;"></div></a>

      <a target="_blank" href="https://github.com/brookehurford"><div class="teamThumbnail" style="background: url('/img/brooke.jpg') no-repeat center center; background-size: cover;"></div></a>

      <a target="_blank" href="https://github.com/pokojt"><div class="teamThumbnail" style="background: url('/img/taylor.jpeg') no-repeat center center;background-size: cover;"></div></a>

      <a target="_blank" href="https://github.com/Andychochocho"><div class="teamThumbnail" style="background: url('/img/andy.jpg') no-repeat center center;background-size: cover;"></div></a>


      <a target="_blank" href="https://github.com/NewellMatt"><div class="teamThumbnail" style="background: url('/img/matt.jpg') no-repeat center center;background-size: cover;"></div></a>


    </div>
  </div>
</div>
