<div class="pageWrapper">

    <div class="navWrapper container">
      <div class="headerText">
        {{#link-to 'index'}}<h1>MOVER</h1>{{/link-to}}
      </div>
      <div class="nav">
        <p>Post a Move</p>
        <p>About</p>
        <p>Sign In</p>
        <span><p>Become a Mover</p></span>
      </div>
    </div>

    {{outlet}}



  <div class="footer">
    <hr>
    <div class="container">
      <p>Created at Epicodus - {{#link-to 'about'}}Read About Our Team{{/link-to}} | &copy; 2016 All Rights Reserved</p>
    </div>
  </div>

</div>
