<div class="pageWrapper">

    <div class="navWrapper container">
      <div class="headerText">
        {{#link-to 'index'}}<h1>MOVER
          <img src='/img/cloud-icon.png'>
          <img src='/img/cloud-icon.png'>
          <img src='/img/cloud-icon.png'>
        </h1>{{/link-to}}
      </div>
      <div class="nav">
        {{#link-to 'post-a-move'}}<p>Post a Move</p>{{/link-to}}
        {{#link-to 'about'}}<p>About</p>{{/link-to}}
        {{#link-to 'sign-in'}}<p>Sign In</p>{{/link-to}}
        {{#link-to 'mover-sign-up'}}<span><p>Become a Mover</p></span>{{/link-to}}
        {{#if session.isAuthenticated}}
            <!--Hello {{model.lastName}}-->
            <button {{action 'logout'}}>Logout</button>
        {{/if}}
      </div>
    </div>

    {{outlet}}


  <div class="footer">
    <hr>
    <div class="container">
      <p>Created at Epicodus - {{#link-to 'about'}}Read About Our Team{{/link-to}} | &copy; 2016 All Rights Reserved</p>
    </div>
  </div>

</div>
