<div class="homepageHeader">
  <div class="container">
    <h1>Chill ass Portland movers</h1>
  </div>
</div>

<div class="contentWrapper">
  <div class="container">
    <h2>How it Works</h2>
    <div class="how-it-works">
      <div class="item">
        <h2 class="number">1</h2>
        <h3>Post a Move</h3>
        <p>Once you create an account, you will be able to post your move with all the details.</p>
      </div>
      <div class="item">
        <h2 class="number">2</h2>
        <h3>Receive Bids</h3>
        <p>Once your move is posted, you will start to receive bids from our approved movers who want to help you out.</p>
      </div>
      <div class="item">
        <h2 class="number">3</h2>
        <h3>Get Movin</h3>
        <p>You will accept a bid of a price you are willing to pay, and be able to login to your account to review move details, and be in touch with your mover until the day of.</p>
      </div>
    </div>
  </div>
</div>
