
<div class="applyContainer">
  <div class="banner">
    <p>Already a mover? {{#link-to 'open-moves'}}Check out open moves.{{/link-to}}</p>
  </div>
  <form class=forms>
    <input type='text' placeholder="First Name">
    <input type='text' placeholder="Last Name">
    <input type='text' placeholder="Phone">
    <input type='text' placeholder="Vehicle Type">
    <input type='text' placeholder="Year of Vehicle">

    {{#link-to 'apply-thank-you'}}<button>APPLY</button>{{/link-to}}
  </form>
</div>
