
<div class="applyContainer">
  <div class="banner">
    <p>Already a mover? {{#link-to 'open-moves'}}Check out open moves{{/link-to}}</p>
  </div>
  <form class=forms>
    <label>First Name:</label>
    <input type='text'>

    <label>Last Name:</label>
    <input type='text'>

    <label>Phone:</label>
    <input type='text'>

    <label>Email:</label>
    <input type='text'>

    <label>Phone Number:</label>
    <input type='text'>

    <label>Vehicle Type:</label>
    <input type='text'>

    <label>Year of Vehicle:</label>
    <input type='text'>

    {{#link-to 'apply-thank-you'}}<button>APPLY</button>{{/link-to}}
  </form>
</div>
