<div class="openMovesHeader">
  <div class="container">
    <div class="headerText">
      <h1>Open Moves</h1>
      <h3>View move details, and put out a bid for jobs you'd like to do.</h3>
    </div>
  </div>
</div>

{{move-tile move=model}}
