<div class="postMoveContainer">
  <div class="container">
    <h1>Post your move</h1>
    <h3>Give details of your move, and our approved movers will start giving you bids. From there you can accept a bid and your move will be scheduled.</h3>

    {{mover-details save2="save3" user=model}}

  </div>
</div>
